.button {
    border: 2px solid var(--main-bg-color);
    border-radius: 4px;
    text-align: center;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--main-text-color);
    height: 35px;
    line-height: 35px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.button:hover {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
}

.button div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}