.channel {
    width: 100%;
    height: 102px;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    margin-bottom: 15px;
}

.channel img {
    width: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.channel::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(0, rgba(0,0,0,0.8), transparent);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    display: block;
    z-index: 1;
}

.channel__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    padding: 0 10px;
    padding-bottom: 10px;
    z-index: 2;
    overflow: hidden;
}

.channel__info__players,
.channel__info__name {
    color: var(--main-text-color);
    font-family: 'Nunito-Bold', 'Nunito Bold', 'Nunito';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.channel__info__name:hover {
    text-decoration: underline;
}

.channel__info__players {
    font-size: 11px;
    color: #A4A4A4;
    text-transform: none;
}