.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login__discord {
    background-color:#7289DA;
    width: fit-content;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.login__discord:hover {
    transition: all ease .3s;
    box-shadow: 0px 5px 10px #262626;
}