.card,
.activecard {
    background-color: #3f4447;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.909803921568627);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.card__cover,
.activecard__cover {
    width: 100%;
    position: relative;
    overflow: hidden;
    flex: 1;
    text-align: center;
}

.card:hover .card__cover::after {
    opacity: 0;
}

.card__cover::after,
.activecard__cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(0, var(--main-panel-color), transparent);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    display: block;
    z-index: 1;
    transition: all ease 0.3s;
}

.card__cover img,
.activecard__cover img {
    width: 100%;
    transition: all ease 0.3s
}

.card:hover .card__cover img {
    transform: scale(1.2);
}

.card__body,
.card__footer,
.activecard__body {
    flex: 1;
    padding: 0 15px;
    padding-bottom: 15px;
}

.card__author,
.activecard__info {
    display: flex;
    width: 100%;
    margin-top: -30px;
    z-index: 2;
    position: relative;
    padding-bottom: 15px;
}

.card__author__avatar,
.activecard__info__logo {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: #acacac;
}

.card__author__avatar {
    border-radius: 50%;
    overflow: hidden;
}

.activecard__info__logo img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.card__author__info,
.activecard__info__details {
    flex: 1;
    padding-left: 15px;
}

.activecard__info__details {
    display: flex;
    flex-direction: column;
}

.card__author__info {
    margin-top: 7px;
}

.card__voice__name,
.card__author__info__name,
.card__author__info__date,
.activecard__info__details__players,
.activecard__info__details__name {
    color: var(--main-text-color);
    font-family: 'Nunito-Bold', 'Nunito Bold', 'Nunito';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    flex: 1;
}

.card__author__info__name {
    font-size: 12px;
}

.activecard__info__details__name {
    font-size: 18px;
    letter-spacing: 2px;
}

.card__author__info__date,
.activecard__info__details__players {
    font-size: 12px;
    color: #A4A4A4;
    text-transform: none;
}

.activecard__desc {
    font-family: 'Nunito-Regular', 'Nunito';
    font-weight: 400;
    font-size: 12px;
    color: var(--main-text-color);
    padding-bottom: 15px;
    width: 100%;
}

.card__title {
    font-family: 'Nunito-Bold', 'Nunito Bold', 'Nunito';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: var(--main-text-color);
    text-align: left;
}

.card__desc {
    font-family: 'Nunito-Regular', 'Nunito';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: var(--main-text-color);
    text-align: left;
}

.card__footer {
    display: flex;
}

.card__footer__left {
    flex: 1;
    display: flex;
}

.card__footer__right {
    display: flex;
}

.card__footer__option {
    display: flex;
    margin: 0 10px;
}

.card__footer__option i {
    color: var(--main-text-color)
}

.card__footer__option div {
    padding-left: 5px;
    font-family: 'Nunito-Bold', 'Nunito Bold', 'Nunito';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: var(--main-text-color);
    text-align: left;
}

.card__footer__option:first-of-type {
    margin-left: 0;
}

.card__footer__option:last-of-type {
    margin-right: 0;
}

.card__voice__users__user img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}