.panel {
    background-color: #3f4447;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.909803921568627);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel__title {
    height: 40px;
    font-family: 'Nunito-Bold', 'Nunito Bold', 'Nunito';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--main-text-color);
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 15px;
    width: 100%;
}

.panel__body {
    padding: 0 15px;
    padding-bottom: 15px;
    flex: 1;
    width: 100%;
    position: relative;
}