.header {
    background-color: #232526;
    width: calc(100% - 40px);
    height: 50px;
    display: flex;
    overflow: hidden;
    padding: 0px 20px;
}

.header__options {
    height: 50px;
    overflow: hidden;
    display: flex;
}

.header__config,
.header__options__option {
    height: 50px;
    line-height: 50px;
    color: var(--main-text-color);
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 15px;
    opacity: .5;
    text-decoration: none;
}

.header__config:hover,
.header__options__option:hover {
    opacity: 1;
}

.header__options__option--active {
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.647058823529412);
    -webkit-text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.647058823529412);
    -moz-text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.647058823529412);
}

.header__padding {
    flex: 1;
}

.header__profile {
    height: 50px;
    overflow: hidden;
    display: flex;
}

.header__profile img {
    height: 100%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 8px;
}

.header__profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    height: 100%;
}

.header__profile__info__role ,
.header__profile__info__name {
    color: white;
    font-family: 'Nunito-Bold', 'Nunito Bold', 'Nunito';
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}

.header__profile__info__role {
    color: #AAAAAA;
}