.home {
    flex: 1;
    margin: 20px;
    margin-bottom: 0;
    display: flex;
}
.home__panel__side {
    width: 250px;
    height: 100%;
}
.home__panel__center {
    flex: 1;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
}

.home__panel__center__row {
    flex: 1;
    margin: 0 10px;
}

.home__panel__center__row:first-of-type {
    margin-left: 20px;
}

.home__panel__center__row:last-of-type {
    margin-right: 20px;
}