:root {
    --main-bg-color: #2f3437;
    --main-text-color: #ffffff;
    --main-panel-color: #3f4447;
}

@font-face {
    font-family: 'DirtyBomb';
    src: url('/assets/fonts/DirtyBomb_DD-Black-Cyr.otf') format('opentype');
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
    display: flex;
    flex-direction: column;
}